<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Become an Admin</h1>
    <form action="/admin" method="POST">
        <input type="password" name="adminCode" placeholder="Admin Passcode" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>