<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Join the Club</h1>
    <p>To see who wrote the messages, you must enter the secret passcode.</p>
    <form action="/join" method="POST">
        <input name="passcode" type="text" placeholder="Passcode" required>
        <button type="submit">Unlock Membership</button>
    </form>

    <a href="/">Back to home</a>
</body>
</html>