<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/log-in" method="POST">
        <input type="email" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Log In</button>
    </form>
</body>
</html>